@model ServiceAssetTracker.Models.ResellerViewModels.Purchase_Order

@{
    ViewData["Title"] = "Edit";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Purchase Order</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Purchase Order Details
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" asp-action="Edit" data-parsley-validate class="form-horizontal form-label-left">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="PoId" />
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Order ID
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input asp-for="PoId" value="@Model.PoId" disabled class="form-control" />
                                  @*  <input type="text" id="first-name" value="@Model.PoId" required="required" autofocus class="form-control col-md-7 col-xs-12">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Reseller ID
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input asp-for="ResellerId" value="@Model.ResellerId" class="form-control" />
                                 @*   <input type="text" id="first-name" value="@Model.ResellerId" required="required" autofocus class="form-control col-md-7 col-xs-12">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Customer ID
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input asp-for="CustomerId" value="@Model.CustomerId" class="form-control" />
                                   @* <input type="text" id="first-name" value="@Model.CustomerId" required="required" autofocus class="form-control col-md-7 col-xs-12">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    PO Reference
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input asp-for="OrderReference" value="@Model.OrderReference" class="form-control" />
                                  @*  <input type="text" id="last-name" name="last-name" value="@Model.OrderReference" required="required" class="form-control col-md-7 col-xs-12">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Product ID
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input asp-for="ProductId" value="@Model.ProductId" class="form-control" />
                                    @*<input type="text" id="last-name" name="last-name" value="@Model.ProductId" required="required" class="form-control col-md-7 col-xs-12">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Serial Numbers
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="last-name" name="last-name" value="NA" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Price
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input asp-for="Price" value="@Model.Price" class="form-control" />
                                   @* <input type="text" id="last-name" name="last-name" value="@Model.Price" required="required" class="form-control col-md-7 col-xs-12">*@
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a asp-action="Index" class="btn btn-primary">Back</a>
                                    <button type="submit" class="btn btn-success">Save</button>
                          
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



