@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Service &amp; Asset Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="login100-form validate-form">
                    <span class="login100-form-title p-b-43">
                        Login to SAT Application
                    </span>
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input asp-for="Email" class="input100" type="text">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input asp-for="Password" class="input100" type="password">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="RememberMe" type="checkbox" name="remember-me">
                            <label asp-for="RememberMe" class="label-checkbox100">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a asp-action="ForgotPassword" class="txt1">Forgot Password?</a>
                        </div>
                    </div>

                    @* Register and external login *@
                    <div class="container-login100-form-btn">
                        <button style="color: white" type="submit" class="login100-form-btn">Log in</button><br /><br /><br />
                        <p><a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a></p>
                    </div>

                    @{
                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                        if (loginProviders.Count == 0)
                        {
                            <div class="text-center p-t-46 p-b-20">
                                <span class="txt2">
                                    There are no external authentication services available.
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class="text-center p-t-46 p-b-20">
                                <span class="txt2">
                                    or sign in using
                                </span>
                            </div>

                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div class="login100-form-social flex-c-m">
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="login100-form-social-item flex-c-m bg1 m-r-5" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="fa fa-google" aria-hidden="true"></i>
                                        </button>
                                    }
                                </div>
                            </form>
                        }
                    }
                </form>

                @* Left side image *@
                <div class="login100-more" style="background-image: url('/Login/images/bg-new.jpg');">
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/js/main.js"></script>

</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
