@model IEnumerable<ServiceAssetTracker.Models.ResellerViewModels.Job_Reference>

@{
    ViewData["Title"] = "List Job Reference";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Job Reference</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List Job Reference</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a style="color: white;" asp-action="Create" class="btn btn-primary">Add Job Referencer</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr class="headings">
                                    <th>
                                        @Html.DisplayNameFor(model => model.JobReferenceId)
                                    </th>
                                    <th class="column-title">
                                        @Html.DisplayNameFor(model => model.CustomerReference)
                                    </th>
                                    <th class="column-title">
                                        @Html.DisplayNameFor(model => model.MojoReference)
                                    </th>
                                    <th class="column-title">
                                        @Html.DisplayNameFor(model => model.WorkflowReference)
                                    </th>
                                    <th class="column-title">
                                        Reseller Customer ID
                                    </th>
                                    <th class="column-title">
                                        Services
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.JobReferenceId">
                                                @Html.DisplayFor(modelItem => item.JobReferenceId)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerReference)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MojoReference)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkflowReference)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Customer.TradingName)
                                        </td>
                                        <td>
                                            NA
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
